/* Footer de base */
.footer {
    background-color: #333;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 10;
  }
  
  /* Contenu du footer */
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }
  
  /* Liens du footer */
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  /* Bas de footer */
  .footer-bottom {
    padding: 10px 0;
    font-size: 14px;
  }
  